/* ======================= Start-Color ======================= */
$primary: #684df4 !important;
$secondary: #c54b8c !important;
$tertiary: #080e1c !important;
$forth: #2a2732 !important;
$success: #4bb543 !important;
$warning: #ff5722 !important;
$danger: red !important;
$info: #2196f3 !important;
$white: #fff !important;
$dark: #000 !important;
$gray: gray !important;
/* ======================= End-Color ======================= */

/* ======================= Start-Bg-Color ======================= */
.bgprimary {
  background: $primary;
}
.bgsecondary {
  background: $secondary;
}
.bgtertiary {
  background: $tertiary;
}
.bgforth {
  background: $forth;
}
.bgsuccess {
  background: $success;
}
.bgwarning {
  background: $warning;
}
.bgdanger {
  background: $danger;
}
.bginfo {
  background: $info;
}
.bgwhite {
  background: $white;
}
.bggray {
  background: $gray;
}
.bgdark {
  background: $dark;
}
.bg-light-primary {
  background: #efeeef4b !important;
}
.bg-light-secondary {
  background: #faf1f1 !important;
}
.bg-light-success {
  background: rgb(232, 243, 232) !important;
}
.bg-light-warning {
  background: #faf0ed !important;
}
.bg-light-danger {
  background: rgb(251, 243, 243) !important;
}
.bg-ec {
  background-color: #ececec !important;
}
.bg-fa {
  background-color: #fafafa !important;
}
.bg-f6f6f6 {
  background-color: #f6f6f6 !important;
}
.bg-efefef {
  background-color: #efefef !important;
}
.bg-e9e9e9 {
  background-color: #e9e9e9 !important;
}
.bg-purple {
  background-color: #6610f2 !important;
}
.bg-blues {
  background-color: #000940 !important;
}
.bg-f4f5f6 {
  background: #f4f5f6 !important;
}
.bg-e8f2fc {
  background: #e8f2fc !important;
}
.bg-f8faff {
  background: #f8faff !important;
}
.bg-000940 {
  background: #000940 !important;
}
.bg-glass {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.bg-glass2 {
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(1.7px);
}
.liner-color {
  background: linear-gradient(45deg, #e66465, #9198e5) !important;
}
.liner-color2 {
  background: linear-gradient(45deg, #3f87a6, #f69d3c) !important;
}
.liner-color3 {
  background: linear-gradient(45deg, #0045c7, #ff2c7d) !important;
}
/* ======================= End-Bg-Color ======================= */

/* ======================= Start-Text-Color ======================= */
.textprimary {
  color: $primary;
}
.textsecondary {
  color: $secondary;
}
.texttertiary {
  color: $tertiary;
}
.textforth {
  color: $forth;
}
.textsuccess {
  color: $success;
}
.textwarning {
  color: $warning;
}
.textdanger {
  color: $danger;
}
.textinfo {
  color: $info;
}
.textwhite {
  color: $white;
}
.textgray {
  color: $gray;
}
.textdark {
  color: $dark;
}
/* ======================= End-Text-Color ======================= */

/* ======================= Start-Border ======================= */
.border-primary {
  border: 1px solid $primary;
}
.border-secondary {
  border: 1px solid $secondary;
}
.border-tertiary {
  border: 1px solid $tertiary;
}
.border-forth {
  border: 1px solid $forth;
}
.border-success {
  border: 1px solid $success;
}
.border-warning {
  border: 1px solid $warning;
}
.border-danger {
  border: 1px solid $danger;
}
.border-info {
  border: 1px solid $info;
}
.border-white {
  border: 1px solid $white;
}
.border-gray {
  border: 1px solid $gray;
}
.border-dark {
  border: 1px solid $dark;
}
/* ======================= End-Border ======================= */

/* ======================= Start-Font-Family ======================= */
@font-face {
  font-family: "poppins-semibold";
  src: local("poppins-semibold"),
    url("../fonts/Poppins-SemiBold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "poppins-regular";
  src: local("poppins-regular"),
    url("../fonts/Poppins-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
p,
label,
small,
input,
textarea,
select,
button {
  font-family: "poppins-regular" !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
a {
  font-family: "poppins-semibold" !important;
}
p {
  line-height: 24px !important;
  @media (max-width: 640px) {
    line-height: 20px !important;
  }
}
input,
::placeholder {
  @media (max-width: 640px) {
    font-size: 13px !important;
  }
}
.css-b62m3t-container,
text.CircularProgressbar-text {
  font-family: "poppins-regular" !important;
  font-size: 14px !important;
}
/* ======================= End-Font-Family ======================= */

/* ======================= Start-scrollbar ======================= */
::-webkit-scrollbar {
  width: 0px;
}
/* ======================= End-scrollbar ======================= */

/* ======================= Start-Maincss ======================= */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-wrap: break-word !important;
}
a {
  text-decoration: none !important;
}
p {
  margin: 0px;
  padding: 0px;
}
.list-none {
  list-style: none !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.error-h {
  height: 90vh !important;
  @media (max-width: 640px) {
    height: 60vh !important;
  }
}
.setting-box {
  width: 50px !important;
  height: 50px !important;
  @media (max-width: 640px) {
    width: 40px !important;
    height: 40px !important;
  }
}
.setting-img {
  width: 25px !important;
  height: 25px !important;
  @media (max-width: 640px) {
    width: 20px !important;
    height: 20px !important;
  }
}
.z-999 {
  z-index: 9999 !important;
}
.h-100 {
  height: 100vh !important;
}
.decimal {
  list-style: decimal !important;
}
.disc {
  list-style: disc !important;
}
.dot {
  width: 18px !important;
  height: 18px !important;
}
.border-0 {
  border: none !important;
}
.border-ec {
  border: 1px solid #ececec !important;
}
.bordb {
  border-bottom: 1px solid #f4f5f6 !important;
}
.bordh {
  border-top: 1px solid #f4f5f6 !important;
}
.input-bordb {
  height: 40px !important;
  font-size: 17px !important;
  border-bottom: 2px solid #f4f5f6 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.text-bordb {
  font-size: 17px !important;
  border-bottom: 2px solid #f4f5f6 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.borderprimary {
  border: 1px solid $primary;
}
.bordersecondary {
  border: 1px solid $secondary;
}
.center-absolute {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.d-shadow {
  box-shadow: 0 2px 12px 0 #0000001a !important;
}
.b-shadow {
  box-shadow: 0px 9px 50px #1211271f !important;
}
/* ======================= End-Maincss ======================= */

/* ======================= Start-Pagination ======================= */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.pagination li {
  background: #ececec;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #111;
  cursor: pointer;
}
.pagination .selected {
  background: $primary;
  color: $white;
}
/* ======================= End-Pagination ======================= */

/* ======================= Start-loader ======================= */
.loader {
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid $tertiary;
  border-bottom: 2px solid $tertiary;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loader2 {
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid $tertiary;
  border-bottom: 2px solid $tertiary;
  width: 70px;
  height: 70px;
  animation: spins 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spins {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* ======================= End-loader ======================= */

/* ======================= Start-Animatedcss ======================= */
.marquee p {
  transform: translateX(100%);
  animation: scroll-left 10s linear infinite;
}
@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.clip {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%) !important;
}
.rotate-d {
  transform: rotate(20deg) !important;
}
.dashboard .CircularProgressbar .CircularProgressbar-path {
  stroke: $primary;
}
.dashboard .CircularProgressbar .CircularProgressbar-text {
  fill: $primary;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  padding-left: 10px;
  padding-right: 10px;
}
.tab input:checked ~ .tab__content {
  max-height: 100%;
}
.tab__label::after {
  width: 1em;
  height: 100%;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.3s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.flip-card {
  width: 100%;
  height: 250px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: $forth;
  border-radius: 5px !important;
}
.flip-card-back {
  background-color: $primary;
  transform: rotateY(180deg);
  border-radius: 5px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
/* ======================= End-Animatedcss ======================= */

/* ======================= Start-Button ======================= */
.primarybtn {
  background: transparent !important;
  border: 1px solid $primary;
  color: $primary;
}
.primarybtn:hover {
  background: $primary;
  color: $white;
}
.secondarybtn {
  background: transparent !important;
  border: 1px solid $secondary;
  color: $secondary;
}
.secondarybtn:hover {
  background: $secondary;
  color: $white;
}
.whitebtn {
  background: transparent !important;
  border: 1px solid $white;
  color: $white;
}
.whitebtn:hover {
  background: $white;
  color: $primary;
}
/* ======================= End-Button ======================= */

/* ======================= End-Admin ======================= */

// Dashboard 1
.w-side {
  width: 17% !important;
}
.w-route {
  width: 83% !important;
  @media (max-width: 912px) and (min-width: 641px) {
    width: 100% !important;
  }
  @media (max-width: 640px) {
    width: 100% !important;
  }
}
// Dashboard 1

// Dashboard 2
// Dashboard 2

/* ======================= End-Admin ======================= */

/* ======================= Start-Sidebar ======================= */

.sidebar-logo {
  width: 100px !important;
  height: 100px !important;
}
.dot-dash {
  width: 20px !important;
  height: 20px !important;
}

// Section 1
.sidebar1 .activesidebar {
  color: $gray;
}
.sidebar1 .active {
  color: $primary;
}
// Section 1

// Section 2
.sidebar2 .activesidebar .icon-circle {
  color: $primary;
  background: #efeeef4b !important;
}
.sidebar2 .active .icon-circle {
  color: $white;
  background: $primary;
}
.sidebar2 .activesidebar .text-side {
  color: $gray;
}
.sidebar2 .active .text-side {
  color: $primary;
}
.icon-circle {
  width: 24px !important;
  height: 24px !important;
}
// Section 2

// Section 3
.sidebar3 .activesidebar {
  color: $gray;
}
.sidebar3 .active {
  color: $white;
  background: $primary;
}
// Section 3

// Section 4
.sidebar4 .activesidebar {
  color: $gray;
}
.sidebar4 .active {
  color: $white;
  background: $primary;
}
// Section 4

// Section 5
.sidebar5 .activesidebar {
  color: $gray;
}
.sidebar5 .active {
  color: $primary;
  border-left: 4px solid $primary;
  background: #efeeef4b !important;
}
// Section 5

// Section 6
.sidebar6 .activesidebar {
  color: $gray;
}
.sidebar6 .active {
  color: $primary;
  border-left: 4px solid $primary;
  border-radius: 8px 0px 0px 8px !important;
  background: #efeeef4b !important;
}
// Section 6

/* ======================= End-Sidebar ======================= */

/* ======================= Start-Header ======================= */

.header-logo {
  width: 60px !important;
  height: 60px !important;
  @media (max-width: 912px) {
    width: 50px !important;
    height: 50px !important;
  }
}

// Header 1
.border-h1 {
  margin-top: 8px !important;
  border-radius: 10px !important;
  @media (max-width: 912px) {
    margin-top: 5px !important;
    border-radius: 8px !important;
  }
}
// Header 1

// Header 2
.border-h2 {
  border-radius: 0px 0px 10px 10px !important;
  @media (max-width: 912px) {
    border-radius: 8px !important;
  }
}
// Header 2

/* ======================= End-Header ======================= */

/* ======================= Start-Table ======================= */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 1px solid #ececec;
  text-align: left;
  padding: 8px;
}
th {
  background: $primary;
  border: 1px solid $white;
  text-align: left;
  padding: 10px;
}
tr:nth-child(even):hover {
  background-color: #f8f8fb;
}
.h-input {
  height: 35px !important;
}
.cust-scroll {
  height: 77vh !important;
  overflow-y: auto !important;
}
.side-scroll {
  height: 90vh !important;
  overflow-y: auto !important;
}
.sidebar-w {
  width: 25% !important;
}
.side-input {
  width: 95% !important;
}
.border-images {
  border: 1px dashed #3d3c3c !important;
  height: 190px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px !important;
}
.img-input {
  width: 93.5% !important;
  height: 190px !important;
  opacity: 0 !important;
}
.side-img {
  width: 350px !important;
  height: 350px !important;
}
.table-colsm{
  @media (max-width:912px) {
    min-width: 50px !important;
  }
}
.table-collg{
  @media (max-width:912px) {
    min-width: 150px !important;
  }
}
.table-w{
  @media (max-width:912px) {
    width: 100% !important;
    overflow: auto !important;
  }
}
/* ======================= End-Table ======================= */

/* ======================= Start-Login ======================= */
.w-login {
  width: 97% !important;
}
/* ======================= End-Login ======================= */

/* ======================= Start-dashboard ======================= */
.border-d {
  border-radius: 10px 0 0 0 !important;
}
.filter-dash {
  filter: brightness(2);
}
.h-map {
  height: 170px !important;
}
.social-img {
  width: 60px !important;
  height: 60px !important;
}
.gol-img {
  width: 130px !important;
  height: 130px !important;
  @media (max-width: 640px) {
    width: 50px !important;
    height: 50px !important;
  }
}
.next {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
}
.dash-scroll {
  overflow-y: auto !important;
  height: 86vh !important;
}
/* ======================= End-dashboard ======================= */
